.nav{
    text-align: left;
    list-style: none;
    display: inline-flex;
    font-size: 1.4rem;
    margin-right:0rem;
    z-index: 9999;
    &__checkbox  {
        display: none;
    }

    &__button{
        display: none;
    }
    @include respond(tab-port){
        margin-left:0;
        width: 90%;
    }
    &__item{
       
        width: 12rem;
        margin: 0 0.5rem;
        list-style: none;
        position: relative; 
        @include respond(tab-port){
           width: 100%;
           padding-right: 0.5rem;

           z-index: 9999;
       }
    }
     
    &__link{
       
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;

        @include respond(tab-port){
            padding: 0 0rem;
        }
      
    }
    
    &__child{ 
       
        position:absolute;
        opacity: 0;
        visibility: hidden;
        text-align: left;
        top:100%;
        left:0;
        transition: all .5s;

        &-item{
        position: relative;
        list-style: none;
        display: block;
        z-index: 2000;
        min-width: 8rem;  
        }
        &-link{
           
            border-bottom: 1px solid $color-white ;
            border-radius: .2rem;
            text-decoration: none;
            color:$color-white;
            display: block;
            margin-top: 1rem;
            width: 100%;  
            z-index: 2000;
        }
       
    }
    :hover{
        color:$color-grey-light-3;
        opacity: 0.8;
    }

    &__item:hover   &__child{
        opacity: 1;
        visibility: visible ;
        
    }

    &__kink{
        margin-top: 0.2rem;
        margin-left:1rem;

        @include respond(tab-port){
            margin-left: 0.2rem;
        }
    }

    &-btn{
        
        position: relative;
        justify-content: center;
        padding-right: 1.5rem;
        
        align-items:center;
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
        z-index: 9999;
        display: none;
        &__lines::before,
        &__lines::after{
            content: "";
            position: absolute;
        }


        &__lines::before{
            transform:translateY(-0.5rem);
        }
        &__lines::after{
            transform:translateY(0.5rem);
        }

        
    }
 
    &-btn, &-btn__lines::after, &-btn__lines::before{
        width:1.5rem;
        height: 0.1rem;
        background-color: $color-white;
        transition:  all .5s ease-in-out;
    }

    /* animation*/
    
    &_btn.open  &btn__lines{
        transform: translateX(2rem);
        background:transparent;
    }
    &_btn.open  &btn__lines::before{
        transform: rotate(45deg) translate(-1.5rem,1.5rem);
        background:$color-white;
    }
    &_btn.open  &btn__lines::after{
        transform: rotate(-45deg) translate(-1.5rem,1.5rem);
        background:$color-white;
    }

    
    @include respond(phone){
        
        font-size: 1.2rem;
        font-weight:700;
        &-btn{
            
            display: flex;
            right:-7rem;
        }

        
        outline: hidden;
        background-color:$color-primary-light;
        position: absolute;
        height: 80%;
        width: 70%;
        max-width: 30rem;
        top:0;
        right:0;
        display:block;
        padding-top: 6rem;
        margin-right: 0rem;
        padding-right: 0;
        line-height: 2rem;
        overflow-y: auto;
        opacity: 1;
        transform: translate(35rem,0rem);
        transition: all 0.5s ease-in-out;
        z-index: -1;
      
        &.open{
            z-index: 2000;
            transform: translate(1rem,0rem);
            padding-top: 6rem;
            padding-left: 2rem;
            margin-top: 0;
           
        }
        &__item  &__child-item{
            &:hover{
                     background-color: transparent;
            }
        }

        &__item{
            margin: 1rem 2rem;
            padding: 0.5rem  0.2rem;
        }
        
        &__link{
            font-size: 1.1rem;
        }
        &__child{

          &-link{
            font-size: 1.1rem;
            text-transform: uppercase;
            border:none;
          }
        }
       
       &__child {
            position:static;
            opacity: 1;
            top:1rem;
            visibility: visible;
            max-height: 0;
            width: 100%;
            transform: scaleY(0);
            transform-origin: top;
            overflow: hidden;
            transition: all 0.5s ease;
            
        }
       .expand-btn.open + .expandable{
           max-height: 100%;
           transform: scaleY(1);   
           transition: all 0.5s;
       }
    }
   
}


