.testimonial{
    width:80%;
    height: 100%;
    padding: 3rem;
    margin: 0 auto;
    margin-bottom: 4rem;
    box-shadow: 0 0.5rem  2rem  rgba($color-black,0.5);
    font-size:$default-font-size;
    border-radius: 70rem;
    background-color: rgba($color-white,1);
    padding-left: 8rem;
    
    @include respond(tab-port){
        width: 100%;
        margin-left: -2rem;
        height: 100%;
        font-size: 1.2rem;
       
        .heading-tertiary{
            position: relative;
            font-size:1.3rem;
            width: 120%;
            top:1rem;
            left:0.5rem;          
        }
   }

   @include respond(phone){
       width: 90%;
       margin-left: 5%;
       padding: 3rem;;
       .heading-tertiary{
           font-size:1rem;
           display: inline;
           top:100%;
           left:25%;
       }

       p{
        
           padding:0 3.5rem;
           padding-bottom: 1.5rem; 
          
       }


   }
   
    &__shape{
        width:15rem;
        height:15rem;
      
        float:left;
       
        clip-path:circle(50% at 50% 50%) ;
        transform: translateX(-3rem);
        top:-1.25rem;
        right:1rem;
        position: relative;
        // text theo khung hình tròn của shape
        shape-outside: circle(50% at 50% 50%);
        border:1px solid $color-black;
        overflow: hidden;
        border: 0;

        @include respond(tab-port){
            
            clip-path:circle(45% at 50% 50%);
            top:0.5rem;
            left:-1rem;
            
        }

        @include respond(phone){
           
            clip-path:circle(40% at 50% 50%);
            width: 100%;
            overflow: hidden;
            position: relative;
            padding:0;
            top: -50%;
            left:15%;
            shape-outside: none;
        }
    }
  
    &__img{
        width: 100%;
        transform: translateY(-.5rem);
        transition: all .3s;
        overflow:hidden;

        @include respond(phone){
            
            width: 100%;
            transform: translateY(-3.5rem);
        }
       
    }

    &__caption{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-20%);
        color: $color-white;
        font-size: 1.65rem;
        text-align: center;
        opacity: 0;
        transition: all .7s;
        text-transform: capitalize; 
    
    }
   
    &:hover &__caption{
        opacity: 1;
        transform: translate(-50%,-50%);
       
    }
    
    &:hover &__img {
       filter: blur(.1rem) brightness(85%);
       transform: scale(1.03);
    }
  
}

