*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html{
    font-size:62.5%;
   @include respond(tab-land){
      font-size: 56.25%;
      
   }
    @include respond(tab-port){
        font-size: 40%; //1 rem = 8px
    }

    @include respond(big-desktop){
        font-size: 58%; //1rem = 12px
    }
 }

body {
   
    box-sizing: border-box;
    padding: 3rem;
    @include respond(tab-port){
        padding: 0px;
    }
}